:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(61, 91%, 17%);
  --clr-primary-2: hsl(60, 84%, 25%);
  --clr-primary-3: hsl(60, 81%, 29%);
  --clr-primary-4: hsl(60, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(60, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(60, 57%, 50%);
  --clr-primary-7: hsl(60, 65%, 59%);
  --clr-primary-8: hsl(60, 80%, 74%);
  --clr-primary-9: hsl(60, 94%, 87%);
  --clr-primary-10: hsl(60, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #ffffff;
  --clr-white-alt: #e9e9e9;
  --clr-black: #000;
  --clr-black-alt: rgba(0, 0, 0, 0.7);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Merriweather", serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --spacing-alt: 0.125rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.hero-banner h1 {
  color: var(--clr-primary-5);
}
.hero-banner > h4 {
  color: var(--clr-primary-6);
}

.hero-btn {
  color: var(--clr-primary-7);
}

.power-english {
  max-width: 679px;
  margin: 0 auto;
  background-color: var(--clr-white-alt);
}

.power-english h3 {
  padding: 32px;
  text-align: center;
  color: var(--clr-primary-5);
}

.lessons {
  padding: 32px 0;
  background-color: var(--clr-grey-10);
}

.lesson {
  list-style: none;
  padding: 12px;
  padding-left: 44px;
}
.lesson:hover {
  background-color: rgb(189, 230, 233);
  border-left: 4px solid var(--clr-primary-5);
}
.lesson:hover a {
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
}

.lesson a {
  color: var(--clr-primary-5);
  transition: all 0.2s linear;
}
